.container {
  margin-top: 12rem;
  margin-bottom: 6rem;
}

.link {
  text-decoration: none;
  color: #5d5e5d;
  font-size: 20px;
  font-weight: 500;
  margin-left: 1rem;
}

.line {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #e1e1e1;
}

.container2 {
  margin-top: 12rem;
  margin-bottom: 6rem;
}

.container3 {
  margin-left: 4.4rem;
}

.containerSubs {
  border: 1px dashed #e7e7e7;
  width: 30rem;
  height: 10rem;
  background-color: #f6f6f6;
  color: #cfcfcf;
  font-family: "Calibre", sans-serif;
  text-align: center;
  font-size: 28px;
  display: table-cell;
  vertical-align: middle;
}
