.mainContainer {
  margin-top: 12rem;
  margin-bottom: 6rem;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
  padding-top: 4rem;
}

.link {
  text-decoration: none;
  color: #5d5e5d;
  font-size: 20px;
  font-weight: 600;
  /* margin-left: 1rem; */
}

.line {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #e1e1e1;
}

.containerSubs {
  border: 1px dashed #e7e7e7;
  width: 35rem;
  height: 10rem;
  background-color: #f6f6f6;
  position: relative;
}

.subscriptionContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #cfcfcf;
  font-family: "Calibre", sans-serif;
  font-size: 28px;
}

.title {
  font-size: 17px;
  color: #5d5e5d;
  opacity: 90%;
  margin-bottom: 2rem;
  font-weight: 500;
}

.detail {
  font-size: 16px;
  color: #5d5e5d;
  opacity: 90%;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  font-weight: 400;
}

.edit {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #03258e;
  border: none;
  color: white;
  margin-top: 1rem;
  opacity: 88%;
}

.edit:hover {
  color: white;
  background-color: #042ca3;
}

.detailsWrapper {
  max-width: 35rem;
  padding: 4rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 10px;
}

.subscriptionsWrapper {
  padding: 4rem;
  margin: 0 auto;
}

.modalPosition {
  margin-top: 15%;
}

.modal {
  padding: 4rem;
}
 @media(max-width: 500px){
  .leftContainer {
    margin-bottom: 3rem;
    padding-top: 0;
  }
  
 }