.productImage {
  width: 130px;
  height: 120px;
  border-radius: 15px;
}

.inputNumber {
  width: 30px;
  margin: 0px;
}
.formContainer {
  margin-top: 25px;
}
.buttonUpDown {
  all: unset;
}

.arrowUpDown {
  height: 30px;
  width: 30px;
  font-weight: 500;
}

.shopBtn {
  margin-top: 6px;
  background-color: transparent;
  border-radius: 20px;
  height: fit-content;
  padding: 6px 15px;
  font-weight: 500;
  transition: all 0.3s;
  text-decoration: none;
  margin: 2px;
}

.shopBtn:hover {
  background-color: rgb(15, 15, 15);
  color: aliceblue;
}
.trash {
  margin-right: 22px;
}

.amount {
  font-weight: 400;
  font-size: 18px;
  color: rgb(53, 50, 50);
  margin: 1.5rem 0 0 0;
  font-family: "Calibre", sans-serif;
}

.input {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.6rem;
  background-color: #eaeaea;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.productContainer {
  margin-bottom: -20px;
  margin-top: 15px;
}

.delete {
  all: unset;
  margin-top: 1.2rem;
}

.delete:hover {
  color: rgba(234, 2, 2, 0.703);;
}

.message {
  color: red;
}

.productTitle {
  font-size: 26px;
  font-weight: 500;
  font-family: "Calibre", sans-serif;
}

.productPrice {
  font-size: 24px;
  margin-top: 0.8rem;
  font-weight: 500;
  font-family: "Calibre", sans-serif;
  color: #69868d;
}
