.itemImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.slideItem {
  border-bottom: solid 1px #828d94;
  padding: 0.8rem;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 8px 0 8px;
  margin-top: -15px;
}

.shopBtn {
  margin-top: 6px;
  background-color: transparent;
  border-radius: 20px;
  height: fit-content;
  padding: 6px 30px;
  font-weight: 500;
  transition: all 0.3s;
  text-decoration: none;
}

.name {
  color: black;
  font-weight: 500;
}

.price {
  font-weight: 500;
  color: #647788;
}

.shopBtn:hover {
  background-color: rgb(15, 15, 15);
  color: aliceblue;
}
