.buttonFixed {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 9.5rem;
  border: 2px solid var(--colorBlackDeco);
  border-radius: 30px;
  padding: 0.5rem 0;
  background-color: var(--colorBlackDeco);
  color: white;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}

.buttonFixed:hover {
  background-color: transparent;
  color: var(--colorBlackDeco);
  opacity: 95%;
}

.button {
  width: 9.5rem;
  border: 2px solid var(--colorBlackDeco);
  border-radius: 30px;
  padding: 0.5rem 0;
  background-color: var(--colorBlackDeco);
  color: white;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: transparent;
  color: var(--colorBlackDeco);
  opacity: 95%;
}
.btnClose {
  border: none;
  background-color: var(--colorSoftDeco);
}

.aboutusOffcanvasBody {
  background-color: var(--colorSoftDeco);
}

.wrapper {
  margin-top: -30px;
}
.sectionWrapper {
  font-family: var(--fontFamilyDeco);
}

.navigationButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--colorBlackDeco) !important;
  border-radius: 25px;
  height: fit-content;
  padding: 10px 15px 4px;
  font-weight: 500;
  transition: all 0.3s;
  text-decoration: none;
  background-color: transparent;
  border: none;
  width: 140px;
}

.navigationButtons:hover {
  opacity: 90% !important;
}
.links {
  text-decoration: none;
}
