.lock {
  position: fixed;
  font-size: 18px;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 10;
  color: #d2d2d2;
}
.cont {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.logo {
  margin-bottom: 4rem;
  margin-left: -2rem;
  width: 10em;
  height: auto;
}

@media (max-width: 590px) {
  .logo {
    margin-left: 0;
  }
}

.formWrapper {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.custShippingInfo {
  font-size: 25px;
}

.edit {
  color: #3f61c3;
  text-decoration: none;
  display: inline;
  margin-right: 2rem;
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 15px;
}

.productDescription {
  font-family: "Calibre", sans-serif;
  font-size: 19px;
  font-weight: 500;
  color: #000000;
  opacity: 40%;
  margin-top: 0.2rem;
}

.col2 {
  margin-top: 10rem;
}

@media (max-width: 991px) {
  .col2 {
    margin-top: 2rem;
  }
}

.OrderSummaryWrapper {
  max-width: 500px;
  margin: 0 auto;
}

/*====================================*/
