.swiperSlide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 600px;
}

@media (max-width: 1200px) {
  .swiper-slide {
    width: 350px;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .swiperSlide {
    width: 250px;
    height: auto;
  }
}

.swiperSlideImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  width: 100%;
  height: 60vh;
  display: block;
}

.swiperContainer {
  width: 85%;
  position: absolute;
  left: 50%;
  bottom: -16vw;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  padding-bottom: 3vw;
}

@media (max-width: 1870px) {
  .swiperContainer {
    bottom: -16vw;
    padding-bottom: 8vw;
  }

  .container {
    position: relative;
    width: 100%;
    height: 78vh;
    display: block;
  }
}

@media (max-width: 1550px) {
  .swiperContainer {
    bottom: -21vw;
    padding-bottom: 8vw;
  }

  .container {
    position: relative;
    width: 100%;
    height: 78vh;
    display: block;
  }
}

@media (max-width: 1350px) {
  .swiperContainer {
    bottom: -25vw;
    padding-bottom: 8vw;
  }

  .container {
    position: relative;
    width: 100%;
    height: 68vh;
    display: block;
  }
}

@media (max-width: 1200px) {
  .swiperContainer {
    bottom: -25vw;
    padding-bottom: 8vw;
  }

  .container {
    position: relative;
    width: 100%;
    height: 70vh;
    display: block;
  }
}

@media (max-width: 992px) {
  .swiperContainer {
    bottom: -6vw;
    padding-bottom: 8vw;
  }

  .container {
    position: relative;
    width: 100%;
    height: 90vh;
    display: block;
  }
}

@media (max-width: 768px) {
  .swiperContainer {
    bottom: -8vw;
    padding-bottom: 8vw;
  }

  .container {
    position: relative;
    width: 100%;
    height: 53vh;
    display: block;
  }
}

@media (max-width: 680px) {
  .swiperContainer {
    bottom: -10vw;
    padding-bottom: 8vw;
  }

  .container {
    position: relative;
    width: 100%;
    height: 50vh;
    display: block;
  }
}

@media (max-width: 580px) {
  .swiperContainer {
    bottom: -16vw;
    padding-bottom: 8vw;
  }

  .container {
    position: relative;
    width: 100%;
    height: 40vh;
    display: block;
  }
}

@media (max-width: 440px) {
  .swiperContainer {
    bottom: -22vw;
    padding-bottom: 8vw;
  }

  .container {
    position: relative;
    width: 100%;
    height: 40vh;
    display: block;
  }
}

.detail {
  margin-top: 20rem;
}

.nameContainer {
  display: flex;
  justify-content: center;
}

.name {
  font-family: "Calibre", sans-serif;
  font-weight: 600;
  font-size: 43px;
  text-align: center;
}

.nameCont {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: -9rem;
}

.category {
  font-family: "Calibre", sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #647788;
}

.description {
  font-family: "Calibre", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.infoContainer {
  padding: 10px 20px;
}

.itemsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.similarTitle {
  font-size: 1.3rem;
  padding: 20px 0 0 15px;
  text-align: center;
  font-family: "Calibre", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.price {
  font-family: "Calibre", sans-serif;
  font-weight: 600;
  font-size: 28px;
  padding: 20px 0 0 15px;
  text-align: center;
}

.similarImgContainer {
  width: 170px;
  height: 120px;
  border-radius: 12px;
  overflow: hidden;
}

.similarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.similarName {
  padding-top: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}

.similarBtn {
  margin-top: 6px;
  background-color: #131313;
  color: white;
  border-radius: 30px;
  border: none;
  height: fit-content;
  padding: 0.5rem 2rem 0.1rem 2rem;
  font-family: "Calibre", sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: all 0.3s;
  text-decoration: none;
  margin: 2px;
  opacity: 88%;
}

.similarBtn:hover {
  background-color: #555555;
  color: whitesmoke;
}

@media (max-width: 1200px) {
  .detail {
    display: block;
    padding-left: 10%;
    height: max-content;
  }

  .description {
    padding: 12px;
    width: 100%;
    margin: 15px 0 15px 0;
  }
  .similarImgContainer {
    width: 210px;
    height: 120px;
  }
}

@media (max-width: 992px) {
  .detail {
    display: block;
    text-align: center;
    padding: 0;
    margin-top: 95px;
  }
  .imgContainer {
    width: 100%;
    height: 67vh;
  }
  .similarImgContainer {
    width: 100%;
    height: 200px;
  }
  .itemsContainer {
    width: 80%;
    margin: auto;
    display: block;
    margin-top: 15px;
  }
  .similarTitle {
    width: 80%;
    text-align: start;
    margin: auto;
    padding: 0;
    margin-top: 20px;
  }
  .similar {
    margin-bottom: 30px;
  }
  .containerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .containerCol {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100% !important;
    text-align: center;
  }
}

.background {
  background-image: linear-gradient(transparent 15%, #99999989 50%, transparent 85%);
}

.containerRow {
  display: flex;
  justify-content: space-between;
}

.containerCol {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 48%;
}

.similar {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
