.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination{
  margin-bottom: -1rem !important;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 5px;
  border-radius: 5px;
  background-color: #555555;
}

.swiper-button-prev,
.swiper-button-next {
  color: #131313 !important;
  opacity: 70%;
  margin-top: 0rem !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 100%;
}

@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
