.detail{
    display: flex;
    margin-top: 70px;
}

.imgContainer{
    width: 50%;
    height: 78vh;
}

.img{
    height: 100%;
    width: 100%;
}

.nameContainer{
    padding: 0 12px ;
}

.category{
    font-weight: 500;
    font-size: 1.1rem;
    color: #647788;
}

.description{
    padding: 12px;
    width: 90%;
    margin: 15px 0 20px 0;
} 

.btn{
    padding: 6px 25px;
    border-radius: 30px;
    background: transparent;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 12px;
    transition: all 0.3s;
}

.btn:hover{
    background-color: rgb(15, 15, 15);
    color: aliceblue;
}

.infoContainer{
    width: 50%;
    padding: 10px 20px;

}

.itemsContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.similarTitle{
    font-size: 1.3rem;
    padding: 20px 0 0 15px;
}

.similarImgContainer{
    width: 170px;
    height: 120px;
    border-radius: 12px;
    overflow: hidden;
}

.similarImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.similarName{
    padding-top: 5px;
    font-size: 1.1rem;
    font-weight: 500;
}

.similarBtn{
    background-color: transparent;
    border-radius: 20px;
    padding: 3px 9px;
    font-weight: 500;
    transition: all 0.3s;
}

.similarBtn:hover{
    background-color: rgb(15, 15, 15);
    color: aliceblue;
}

@media (max-width: 1200px){
    .detail{
        display: block;
        padding-left: 10%;
    }
    .imgContainer{
        width: 90%;
        height: 80vh;
    }
    .infoContainer{
        width: 90%;
    }
    .description{
        padding: 12px;
        width: 100%;
        margin: 15px 0 15px 0;
    }
    .similarImgContainer{
        width: 210px;
        height: 120px;
    }
}

@media (max-width: 992px){
    .detail{
        display: block;
        text-align: center;
        padding: 0;
        margin-top: 95px;
    }
    .imgContainer{
        width: 100%;
        height: 67vh;
    }
    .infoContainer{
        margin: auto;
    }
    .similarImgContainer{
        width: 100%;
        height: 200px;
    }
    .itemsContainer{
        width: 80%;
        margin: auto;
        display: block;
        margin-top: 15px;
    }
    .similarTitle{
        width: 80%;
        text-align: start;
        margin: auto;
        padding: 0;
        margin-top: 20px;
    }
    .similar{
        margin-bottom: 30px;
    }
}