.formWrapper {
  max-width: 40rem;
  padding: 4rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 10px;
}

.title {
  color: #5d5e5d;
}

/* .label {
  color: #5d5e5d;
} */

.input:focus {
  outline: none;
  box-shadow: none;
  border-color: none;
  background-color: aliceblue;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.submitBtn {
  color: #5d5e5d;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
  padding: 0.375rem;
  font-weight: 400;
  background-color: #f9f9f9;
  transition: all 0.2s ease-in-out;
}

.submitBtn:hover {
  background-color: #f0f0f0;
}

.message {
  color: rgb(252, 17, 17);
  padding-left: 2.1rem;
}

.label {
  text-align: center;
  margin-top: 0rem;
  width: 15rem;
  background-color: #f9f9f9;
  border-radius: 20px 0px 0px 20px;
  border-top: solid 1px #ced4da;
  border-bottom: solid 1px #ced4da;
  border-left: solid 1px #ced4da;
  padding-top: 0.5879rem;
}

.input {
  border-radius: 0px 20px 20px 0px;
  padding: 10px 20px;
}

@media (max-width: 550px) {
  .label {
    display: none;
  }
  .input {
    border-radius: 20px;
    margin-top: 25px;
    padding: 10px 20px;
  }
}

.btnSave {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #03258e;
  border: none;
  color: white;
  margin-top: 3rem;
  opacity: 88%;
}
