.background {
  padding-top: 5rem;
  background-color: #f2f7f9;
  height: 100vh;
  background-color: transparent;
  background-image: linear-gradient(#f2f7f9 7%, transparent 95%);
  opacity: 100%;
}

.cart {
  align-items: center;
  background-color: transparent;
}
