.bigContain {
  margin-top: 7rem;
}

.comboContain {
  margin-top: 2rem;
  justify-content: center;
}

.title {
  color: black;
  font-family: "Calibre", sans-serif;
  font-size: 2.4rem;
  width: 15%;
  margin: 0;
}

.line {
  width: 85%;
  margin: 0;
  margin-top: 1.25rem;
}

/* .row {
  margin-top: 0.8rem;
  margin-left: 2.5rem;
} */

.bigImage {
  border-radius: 25px;
  width: 95%;
  height: 100%;
}

.smallImage {
  border-radius: 5px;
  width: 21.5em;
  height: 100%;
}
.longImage {
  height: 400px;
  background-size: cover;

  background-repeat: no-repeat;
  border-radius: 5px;
}
.smallCard {
  margin-right: 0.5em;
}

.button {
  border: none;
}
.inline {
  display: flex;
  justify-content: space-between;
  width: 19rem;
}

.cardCombo1 {
  margin-left: 0rem;
}

.cardCombo2 {
  margin-top: 4rem;
}

.titleH4 {
  font-family: "Calibre", sans-serif;
  font-size: 1.43rem;
  margin: 0px;
  margin-top: 0.5rem;
  vertical-align: baseline;
  color: black;
}

.paragraphCard {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.22rem;
  margin-top: -0.8rem;
  color: black;
}

.paragraphCard2 {
  font-family: "Calibre", sans-serif;
  font-size: 1.22rem;
  padding-top: 0.3rem;
  margin-top: -0.8rem;
  font-weight: 200;
  color: black;
}

.linethrough {
  text-decoration: line-through;
}

.smallCard {
  font-family: "Calibre", sans-serif;
  font-size: 0.88rem;
  margin-top: -0.5rem;
  color: black;
}

/* .bigContain {
  margin-top: 2rem;
}

.comboContain {
  margin-top: 2rem;
  justify-content: center;
}

.title {
  font-family: "Calibre", sans-serif;
  font-size: 2.4rem;
  width: 15%;
  margin: 0;
}

.line {
  width: 85%;
  margin: 0;
  margin-top: 1.25rem;
}

.row1 {
  margin-top: 0.8rem;
  margin-left: 2.5rem;
}

.row2 {
  margin-top: 0.8rem;
  margin-left: 1.3rem;
}

.bigImage {
  border-radius: 25px;
  width: 38rem;
  height: 56rem;
}

.smallImage {
  border-radius: 5px;
  width: 19rem;
  height: 19rem;
}

.inline {
  display: flex;
  justify-content: space-between;
}

.cardCombo1 {
  margin-left: 0rem;
}

.cardCombo2 {
  margin-top: 4rem;
}

.titleH4 {
  font-family: "Calibre", sans-serif;
  font-size: 1.43rem;
  margin: 0px;
  margin-top: 0.5rem;
  vertical-align: baseline;
}

.paragraphCard {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.22rem;
  margin-top: -0.8rem;
}

.paragraphCard2 {
  font-family: "Calibre", sans-serif;
  font-size: 1.22rem;
  padding-top: 0.3rem;
  margin-top: -0.8rem;
  font-weight: 200;
}

.linethrough {
  text-decoration: line-through;
}

.smallCard {
  font-family: "Calibre", sans-serif;
  font-size: 0.88rem;
  margin-top: -0.5rem;
}
 */
