.itemImgContainer {
  height: 230px;
  border-radius: 12px;
  overflow: hidden;
}

.itemImgContainer:hover {
  opacity: 80%;
}

.nameContainer {
  height: 35px;

}

.itemImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.description {
  padding: 1.4rem 0.5rem 2rem 0.5rem;
}

.priceBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.shopBtn {
  margin-top: 6px;
  background-color: transparent;
  border-radius: 20px;
  height: fit-content;
  padding: 9px 25px 3px 25px;
  font-weight: 500;
  transition: all 0.3s;
  text-decoration: none;
  border: solid #131313 1px;
  font-family: "Calibre", sans-serif;
  font-size: 19px;
}

.shopBtn:hover {
  background-color: rgb(15, 15, 15);
  color: aliceblue;
  opacity: 90%;
}

.name {
  color: black;
  font-weight: 500;
  font-size: 28px;
  font-family: "Calibre", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: auto;
}

.price {
  font-weight: 500;
  color: #647788;
  font-size: 23px;
  font-family: "Calibre", sans-serif;
}

@media (max-width: 1198px) {
  .name {
    font-size: 1.3rem;
  }
  .price {
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  .itemImgContainer {
    height: 130px;
  }

  .shopBtn {
    margin-top: 3px;
    background-color: transparent;
    border-radius: 20px;
    height: fit-content;
    padding: 3px 10px;
    font-size: 0.7rem;
  }
  .name {
    font-size: 0.9rem;
  }
  .price {
    font-size: 0.6rem;
  }
}
