.logo {
  margin-bottom: 4rem;
  margin-left: -2rem;
  width: 10em;
  height: auto;
}

@media (max-width: 590px) {
  .logo {
    margin-left: 0;
  }
}
.formWrapper {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.custShippingInfo {
  font-family: "Calibre", sans-serif;
  font-size: 27px;
}
.productDescription2 {
  font-family: "Calibre", sans-serif;
  font-size: 19px;
  font-weight: 500;
  color: #585858;
  margin-top: 0.2rem;
}

.links2 {
  color: #88c6e1;
  display: inline;
  font-weight: 400;
  text-decoration: none;
}

.col2 {
  margin-bottom: 4rem;
  margin-top: 11rem;
}

@media (max-width: 991px) {
  .col2 {
    margin-top: 2rem;
    margin-bottom: -5rem;
  }
}

.OrderSummaryWrapper {
  max-width: 500px;
  margin: 0 auto;
}
