.header {
    height: 250px;
    background-color: var(--colorSoftDeco);
}

.wrapper {
    text-align: center;
}

.bigLetter {
    font-size: 4.5rem;
    margin-top: 7%;
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
    color: #131313;
    font-family: var(--fontFamilyDeco);
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 2.7rem;
    font-weight: 600;
    border: none;
    background-color: rgba(255, 255, 255, 0.01);
    transition-duration: 3s;
    padding: 0;
}

.customNavLink{
    margin-left: 25px;
}

.titleLeft {
    text-align: center;
    font-size: 2rem;
    font-family: var(--fontFamiliyDeco);
}
  