.customNavLink {
  color: #131313;
  font-family: var(--fontFamilyDeco);
  text-decoration: none;
  font-size: 1, 5rem;
  line-height: 2rem;
  font-weight: 600;
}

.customNavLinkButton {
  color: #131313;
  font-family: var(--fontFamilyDeco);
  text-decoration: none;
  font-size: 1, 5rem;
  line-height: 2rem;
  font-weight: 600;
  border: none;
  background-color: var(--colorSoftDeco);
}

.backGrey {
  background-color: var(--colorSoftDeco);
}

.arrowWeight {
  -webkit-text-stroke: 1.3px black;
}
