.customFooterLink {
  color: #131313;
  font-family: var(--fontFamilyDeco);
  text-decoration: none;
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-weight: 200;
}

.listTitle {
  color: #131313;
  font-family: var(--fontFamilyDeco);
  font-size: 1rem;
  letter-spacing: 4px;
}
.backGrey {
  background-color: var(--colorSoftDeco);
}

.slogan {
  font-size: 2rem;
  font-family: var(--fontFamilyDeco);
}

.sloganWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
