:root {
  /* --colorSoftDeco: #dce7ed; */
  --colorSoftDeco: #e5e4e3;
  --colorBlackDeco: #131313;
  --fontFamilyDeco: "Calibre", sans-serif;
}

.body {
  position: relative;
  box-sizing: border-box;
}

.error404 {
  margin-top: 18rem;
  margin-bottom: 6rem;
  text-align: center;
}

.error {
  color: crimson;
  opacity: 70%;
  font-weight: 600;
  font-size: 35px;
}
