:root {
  /* --colorSoftDeco: #dce7ed; */
  --colorSoftDeco: #e5e4e3;
  --colorBlackDeco: #131313;
  --fontFamilyDeco: "Calibre", sans-serif;
}

.body {
  position: relative;
  box-sizing: border-box;
}
